* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(136, 136, 136);
}

a:hover {
    color: white;
}

h2 {
    color: white;
}

#player {
    height: 100px;
    background-color: rgb(46, 46, 46) ;
}

#struttura{
    background-color:rgb(32, 41, 54) ;
    z-index: -10;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* aside  */
aside {
    color: rgb(136, 136, 136);
    width: 240px;
    background-color: black;
    float: left;
    position: fixed;
    bottom: 100px;
    top: 0;
}

#logo-small {
    display: none;
}

#sei-qui-sx {
    border-left: 3px solid rgb(164, 252, 106);
    margin-left: -23px;
    padding-left: 20px;
    color: white;
}

.centratore-icone {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.centratore-icone img {
    margin-right: 8px;
}

.container-center-aside div>#logo {
    width: 75%;
    height: 80px;
} 

.container-center-aside ul {
    height: 30%;
    overflow: auto;
}

.container-center-aside div img {
    width: 15%;
}

.container-center-aside h4 {
    margin: 20px 0 3px;
    color: white;
}

.container-center-aside {
    width: 80%;
    height: 100%;
    margin: 15px auto 0px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-center-aside ul li {
    margin-top: 10px;
}

.fa-plus-square {
    font-size: 30px;
    padding-right: 5px;
}

#profilo {
    position: absolute;
    bottom: 15px;
    left: 0;
}

#sfondo-profilo {
    background-color: rgb(136, 136, 136) ;
    border-radius: 50%;
    padding: 1%;
}

 #profilo hr {
     color: lightslategray;
     width: 190px;

}

#profilo div {
    margin: 8px 0;
}

#profilo div span {
    margin-left: 5px;
}


/* main  */
main {
    float: left;
    color: rgb(136, 136, 136);
    margin: 120px 0 100px 240px;
}

.intestazione {
    margin: 20px 0 0 20px;
}

#main-overflow {
    overflow: auto;
}

#sei-qui {
    border-bottom: 3px solid rgb(164, 252, 106);
    padding-bottom: 5px;
}

#sei-qui a {
    color: white;
}

nav ul {
    /* width: 720px; */
    width: 720px;
    margin: 0 auto;
    font-size: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    background-color: rgba(0, 0, 0, 0.418);
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

#call-to-action div {
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    float: right;
    padding: 10px 25px;
    margin: auto 20px;
}

#call-to-action div:hover {
    scale: 1.08;
    cursor: pointer;
}

.row {
    display: flex;
}

.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: 30px 15px 30px 15px;
}

.cover:hover .overlay{
    display: inline-block;
}

.cover:hover .play-hover {
    display: inline-block;
}


.filtro-black {
    position: relative;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.699);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
}

.overlay-radius {
    border-radius: 50%;
}

.play-hover {
    display: none;
    position: absolute;
    top: 37%;
    left: 41%;
} 

.cover img {
    max-width: 100%;
    z-index: ;
}

.cover h4 {
    color: white;
    margin-top: 15px;
}

.artisti img {
    border-radius: 50%;
}


/* player  */
#player {
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#song {
    display: flex;
    width: 240px;
    height: 55%;
    justify-content: space-between;
    align-items: center;
} 

#song div div {
    font-size: 12px;
}

#song img { 
    max-height: 100%;
    margin-left: 15px;
}

#like-folder {
    margin-left: 20px;
}

.fa-folder {
    margin-left: 15px;
}

#play-pause{
    width: 35%;
}

#pulsanti {
    width: 260px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

.fa-play-circle {
    font-size: 35px;
}

.fa-play-circle:hover {
    cursor: pointer;
    scale: 1.1;
}

#scorrimento {
    width: 100%;
    margin-top: 13px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra {
    width: 80%;
    height: 5px;
    margin: 0px 10px;
    background-color: lightslategray;
    border-radius: 5px;
}

.barra-hover {
     display: none;  
    width: 25%;
    height: 5px;
    background-color: chartreuse;
    position: relative;
    border-radius: 5px;
}

.cursore-hover {
     display: none; 
    background-color: white;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 0;
    top:-4px;
}

.barra:hover {
    cursor: pointer;
}

#barra-volume:hover {
    cursor: pointer;
}
.barra:hover .cursore-hover {
    display: block;
} 

 .barra:hover .barra-hover {
    display: block;
}

#barra-volume:hover .barra-hover {
    display: block;
}

#barra-volume:hover .cursore-hover {
    display: block;
} 

#volume {
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#barra-volume {
    width: 50%;
    height: 5px;
    background-color: lightslategray;
    border-radius: 5px;
}
 @media all and ( max-width: 1120px) {
     .row {
         flex-wrap: wrap;
         /* justify-content: space-around; */
     }

     nav ul {
        width: 100%;
         flex-wrap: wrap;
     }

     nav ul li {
        margin: 5px 20px 5px;
     }

     .cover {
         width: 20%;
     }
 }

 @media all and ( max-width: 960px) {
    #song {
        width: 25%;
    } 

    #song div div {
        margin-left: 5px;
    }

    #like-folder {
        margin: 0px 0px 0px 2px;
    }

    .fa-folder {
        margin: 0;
    }

    #song img {
        width: 40px;
    }
 
    #pulsanti {
        width: 100%;
    }

    #play-pause {
        width: 35%;
        margin-left: 10px;
    }

    #volume {
        width: 25%;
    }

    #volume div {
        font-size: 10px;
    }

    .cover {
        width: 35%;
    }

}

@media all and ( max-width: 560px){
    main {
        margin: 120px 0 100px 50px;
    }

    #call-to-action {
        left: 50px;
    }

    #call-to-action div {
        font-size: 0.7em;
    }

    aside {
        width: 50px;
    }

    #profilo {
        width: 100%;
    }

    #profilo hr {
        display: none;
    }

    #profilo div span {
        display: none;
    }

    #profilo div h4 {
        display: none;
    }

    #profilo div  i{
        font-size: 20px;
        margin: 8px 9px;
    }

    #sfondo-profilo {
        width: 80%;
        margin: 0 auto;
    } 

    #playlist {
        display: none;
    }

    .container-center-aside div:nth-child(7) {
        display: none;
    }

    .container-center-aside ul {
        display: none;
    }

    .container-center-aside .centratore-icone a {
        display: none;
    }    

    #logo {
        display: none;
    }

    #logo-small {
        display: inline-block;
    }

    .container-center-aside div img{
        width: 100%;
    }
}